@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
aside {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-size: 1.5rem;
  height: 100vh;
  width: 2rem;
  background-color: #f0f0f0;
}
header {
  background-color: #454545;
  height: 30vh;
  color: whitesmoke;
  display: flex;
  justify-content: start;
}
.album-img-wrapper {
  margin: 1rem;
  width: 15rem;
}
.album-details {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.album-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.album-action-btn {
  display: flex;
  font-size: 1.2rem;
}
.album-action-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}
main {
  margin-left: 2rem;
  margin-bottom: 10vh;
}
bottom-nav {
  position: fixed;
  bottom: 0;
  height: 10vh;
  background: #43689b;
  z-index: 10;
  width: 100%;
}
